.navbar {
  background-color: rgba(12, 15, 36, 0.3);
  /* background-image: linear-gradient(to bottom,#2f818d, #133338); */
  /* border-bottom: 3px inherit black; */
}

.nav-link {
  color: aliceblue;
  /* font-family: 'Courier New', Courier, monospace; */
  /* font-family: "Merriweather", serif; */
  /* font-weight: 400; */
  /* font-style: normal; */
}

a.nav-link :hover {
  background-color: aquamarine;
  color: red;
}
